@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
	margin: 0px;
	font-family: 'Roboto';
	text-align: center;
}

#animation-1 {
	color: #999;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	padding-top: 200px;
	position: relative;
	/* width: 100%; */
	/* bottom: 45%; */
	padding-bottom: 200px;
	display: block;
}

#flip {
	height: 50px;
	overflow: hidden;
}

#flip>div>div {
	color: #fff;
	padding: 4px 12px;
	height: 45px;
	margin-bottom: 45px;
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background: #42c58a;
}

#flip div:first-child div {
	background: #4ec7f3;
}

#flip div:last-child div {
	background: #DC143C;
}

@keyframes show {
	0% {
		margin-top: -270px;
	}

	5% {
		margin-top: -180px;
	}

	33% {
		margin-top: -180px;
	}

	38% {
		margin-top: -90px;
	}

	66% {
		margin-top: -90px;
	}

	71% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -270px;
	}
}

#animation-1 p {
	position: fixed;
	width: 100%;
	bottom: 30px;
	font-size: 12px;
	color: #999;
	margin-top: 200px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#animation-2 {
	padding: 40px;
	background-color: #121212;
}

#animation-2 p {
	border-right: solid 3px rgba(0, 255, 0, .75);
	white-space: nowrap;
	overflow: hidden;
	font-family: 'Source Code Pro', monospace;
	font-size: 28px;
	color: rgba(255, 255, 255, .70);
}

/* Animation */
#animation-2 p {
	animation: animated-text 4s steps(29, end) 1s 1 normal both,
		animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
	from {
		width: 0;
	}

	to {
		width: 472px;
	}
}

/* cursor animations */

@keyframes animated-cursor {
	from {
		border-right-color: rgba(0, 255, 0, .75);
	}

	to {
		border-right-color: transparent;
	}
}




@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#animation-3 {
	text-align: center;
	background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	padding-top: 200px;
	height: 200px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
}

#animation-3 div {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

#animation-3 div:first-of-type {
	/* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
	animation: showup 7s infinite;
}

#animation-3 div:last-of-type {
	width: 0px;
	animation: reveal 7s infinite;
}

#animation-3 div:last-of-type span {
	margin-left: -355px;
	animation: slidein 7s infinite;
}

@keyframes showup {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slidein {
	0% {
		margin-left: -800px;
	}

	20% {
		margin-left: -800px;
	}

	35% {
		margin-left: 0px;
	}

	100% {
		margin-left: 0px;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0px;
	}

	20% {
		opacity: 1;
		width: 0px;
	}

	30% {
		width: 355px;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		width: 355px;
	}
}


#animation-3 p {
	font-size: 12px;
	color: #999;
	margin-top: 200px;
}

.animation-blocks {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.animation-block {
	padding: 20px;
	border: 1px solid #e7e7e7;
}




#animation-4 {
	font-family: 'Source Code Pro',
		monospace;
	background-color: #141114;
	background-image: linear-gradient(335deg, black 23px, transparent 23px),
		linear-gradient(155deg, black 23px, transparent 23px),
		linear-gradient(335deg, black 23px, transparent 23px),
		linear-gradient(155deg, black 23px, transparent 23px);
	background-size: 58px 58px;
	background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
	position: relative;
}

.sign {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 50%;
	background-image: radial-gradient(ellipse 50% 35% at 50% 50%,
			#6b1839,
			transparent);
	transform: translate(-50%, -50%);
	letter-spacing: 2;
	left: 50%;
	top: 50%;
	font-family: "Clip";
	text-transform: uppercase;
	font-size: 6em;
	color: #ffe6ff;
	text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
		-0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
		0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

	0%,
	22%,
	36%,
	75% {
		color: #ffe6ff;
		text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
			-0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
			0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	}

	28%,
	33% {
		color: #ff65bd;
		text-shadow: none;
	}

	82%,
	97% {
		color: #ff2483;
		text-shadow: none;
	}
}

/* .flicker {
	animation: shine 2s forwards, blink 3s 2s infinite;
} */

/* .fast-flicker {
	animation: shine 2s forwards, blink 10s 1s infinite;
} */

@keyframes shine {
	0% {
		color: #6b1839;
		text-shadow: none;
	}

	100% {
		color: #ffe6ff;
		text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
			-0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
			0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
	}
}

@keyframes flicker {
	from {
		opacity: 1;
	}

	4% {
		opacity: 0.9;
	}

	6% {
		opacity: 0.85;
	}

	8% {
		opacity: 0.95;
	}

	10% {
		opacity: 0.9;
	}

	11% {
		opacity: 0.922;
	}

	12% {
		opacity: 0.9;
	}

	14% {
		opacity: 0.95;
	}

	16% {
		opacity: 0.98;
	}

	17% {
		opacity: 0.9;
	}

	19% {
		opacity: 0.93;
	}

	20% {
		opacity: 0.99;
	}

	24% {
		opacity: 1;
	}

	26% {
		opacity: 0.94;
	}

	28% {
		opacity: 0.98;
	}

	37% {
		opacity: 0.93;
	}

	38% {
		opacity: 0.5;
	}

	39% {
		opacity: 0.96;
	}

	42% {
		opacity: 1;
	}

	44% {
		opacity: 0.97;
	}

	46% {
		opacity: 0.94;
	}

	56% {
		opacity: 0.9;
	}

	58% {
		opacity: 0.9;
	}

	60% {
		opacity: 0.99;
	}

	68% {
		opacity: 1;
	}

	70% {
		opacity: 0.9;
	}

	72% {
		opacity: 0.95;
	}

	93% {
		opacity: 0.93;
	}

	95% {
		opacity: 0.95;
	}

	97% {
		opacity: 0.93;
	}

	to {
		opacity: 1;
	}
}