@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
	margin: 0px;
	font-family: 'Roboto';
	text-align: center;
}

#animation-1 {
	color: #999;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	padding-top: 200px;
	position: relative;
	width: 100%;
	/* bottom: 45%; */
	padding-bottom: 200px;
	display: block;
}

#flip {
	height: 50px;
	overflow: hidden;
}

#flip>div>div {
	color: #fff;
	padding: 4px 12px;
	height: 45px;
	margin-bottom: 45px;
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background: #42c58a;
}

#flip div:first-child div {
	background: #4ec7f3;
}

#flip div:last-child div {
	background: #DC143C;
}

@keyframes show {
	0% {
		margin-top: -270px;
	}

	5% {
		margin-top: -180px;
	}

	33% {
		margin-top: -180px;
	}

	38% {
		margin-top: -90px;
	}

	66% {
		margin-top: -90px;
	}

	71% {
		margin-top: 0px;
	}

	99.99% {
		margin-top: 0px;
	}

	100% {
		margin-top: -270px;
	}
}

#animation-1 p {
	position: fixed;
	width: 100%;
	bottom: 30px;
	font-size: 12px;
	color: #999;
	margin-top: 200px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#animation-2 {
	padding: 40px;
	background-color: #121212;
}

#animation-2 p {
	border-right: solid 3px rgba(0, 255, 0, .75);
	white-space: nowrap;
	overflow: hidden;
	font-family: 'Source Code Pro', monospace;
	font-size: 28px;
	color: rgba(255, 255, 255, .70);
}

/* Animation */
#animation-2 p {
	animation: animated-text 4s steps(29, end) 1s 1 normal both,
		animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
	from {
		width: 0;
	}

	to {
		width: 472px;
	}
}

/* cursor animations */

@keyframes animated-cursor {
	from {
		border-right-color: rgba(0, 255, 0, .75);
	}

	to {
		border-right-color: transparent;
	}
}




@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#animation-3 {
	text-align: center;
	background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	padding-top: 200px;
	height: 200px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0, 0, 0);
}

#animation-3 div {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

#animation-3 div:first-of-type {
	/* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
	animation: showup 7s infinite;
}

#animation-3 div:last-of-type {
	width: 0px;
	animation: reveal 7s infinite;
}

#animation-3 div:last-of-type span {
	margin-left: -355px;
	animation: slidein 7s infinite;
}

@keyframes showup {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slidein {
	0% {
		margin-left: -800px;
	}

	20% {
		margin-left: -800px;
	}

	35% {
		margin-left: 0px;
	}

	100% {
		margin-left: 0px;
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
		width: 0px;
	}

	20% {
		opacity: 1;
		width: 0px;
	}

	30% {
		width: 355px;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		width: 355px;
	}
}


#animation-3 p {
	font-size: 12px;
	color: #999;
	margin-top: 200px;
}